body            { font-family: 'PT Serif',serif;
					font-size: 16pt;}
a, h1, h2       { font-family: 'PT Serif',serif; color: #3d3d3d; }
h1, h2          { font-family: 'Lato', sans-serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; 
					margin-bottom: 5px;}
h2              { font-size: 1.2em; }
ul				{ list-style-type: none}
li 				{ font-size: 11pt; font-style: italic}
p 				{ font-size: 11pt; }

/*refers to classes*/
.page           { margin: 2em auto; width: 90%;
                  padding: 0.8em; background: white; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

.rect 	    {stroke:white;}


.link 			{ stroke: #7e7e7e; stroke-opacity: 0.6px;}

.node 			{ stroke: #000000; stroke-width: 1.5px; }

/*frame relative and tooltip absolute allows floating tooltip*/ 

.frame			{ position:relative;}

.tooltip 		{ background: azure; opacity: 0.9;
					   padding: 2px;  
					   font-size: 15px; text-align: center;
					   display:none; position:absolute; }

/*hides the content of expand class by default. revealed via toggling*/
.expand			{ display: none ; }

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
