{% extends "baselayout.html" %}
{% block body %}

<style>
.output_text { font-family: Lato; font-size: 30px; }
</style>

<title>YouTube Channel Stats</title> 
<h1>d3 Sandbox</h1>


<h2>Youtube Channel Stats </h2>

<p>enter in a YouTube account to see some metrics</p>

<form>
	<textarea id="yt_channelid" placeholder = "lizziebennet"></textarea>
</form> 

<button id= "yt_button">go</button> 

<!-- ok so this works in the sense that the correct key loads into this div
<div id="ARGH"></div> -->

<div class = "frame">
</div> 

<p> <a href="http://bl.ocks.org/mbostock/1346395">mbostock reference</a>  </p> 

<ul>
	<li> YouTube Data API v3
	<li> .gitignore developer keys - but how to import it securely? 
	<li> jquery forms 
  <li> handling json w/jquery
  <li> d3 formatting - a function that's called as a var
  <li> applying a mix of d3 and jquery effects
</ul> 

<script>

//create chart variables
var width = 900; 
var height = 300; 
var radius = Math.min(width,height)/2;
var color = d3.scale.category20();     
var formatter = d3.format(",");  

var svg = d3.select(".frame").append("svg")
  .attr("width", width)
  .attr("height", height);       

  svg.append("text")
        .attr("x", 50)
        .attr("y", 50)
        .attr("class", "output_text")
        .attr("id", "cname");

  svg.append("text")
        .attr("x", 50)
        .attr("y", 100)
        .attr("class", "output_text")
        .attr("id", "vids")
        .text("Videos");

  svg.append("text")
        .attr("x", 50)
        .attr("y", 150)
        .attr("class", "output_text")
        .attr("id", "views")
        .text("Views");

  svg.append("text")
        .attr("x", 50)
        .attr("y", 200)
        .attr("class", "output_text")
        .attr("id", "subs")
        .text("Subscribers");

  svg.append("text")
        .attr("y", 250)
        .attr("x", 50)
        .attr("class", "output_text")
        .attr("id", "comm")
        .text("Comments");

//identify channel and url
$("#yt_button").click(function() {


  var yt_channel = $("#yt_channelid").val();

  // what the hell am i doing here. 
  /*$.get("{{ url_for('static', filename='yt_v3.txt') }}", function(error, data){
  }, 'text');

  $('#ARGH').load("{{ url_for('static', filename='yt_v3.txt') }}");
  var print_me = $("#ARGH").text(); */

  // why is reading a text file as a var so hard??? god damn, just HAVE my dev key
  var yt_key = 'AIzaSyDQH6ODAQdQ1yaxRY2xTK8krBIElQQ6KoM';

  var channel_gen_url = 'https://www.googleapis.com/youtube/v3/channels?part=snippet%2CcontentDetails%2Cstatistics&forUsername=' + yt_channel + '&key=' + yt_key; 

  $.getJSON(channel_gen_url)
      .done(function( json ) {
        console.log(json.items[0]);
  
        $('#cname').text(json.items[0]['snippet']['title']);
        $('#vids').text("Videos " + formatter(json.items[0]['statistics']['videoCount']));
        $('#views').text("Views " + formatter(json.items[0]['statistics']['viewCount']));
        $('#subs').text("Subscribers " + formatter(json.items[0]['statistics']['subscriberCount']));
        $('#comm').text("Comments " + formatter(json.items[0]['statistics']['commentCount']));
      });

}); 

</script>

{% endblock %}