{% extends "baselayout.html" %}
{% block body %}
	<title>Pies, Donuts, TV</title> 
	<h1>d3 Sandbox</h1>

<h2> YouTube</h2>

{% if yt_key %}
	<p> youtube api key {{ yt_key }} </p>
{% else %}
	<p> where did it go? </p>
{% endif %}

<form>
	<textarea id="yt_channelid" placeholder = "thewockeez"></textarea>
</form> 

<button id= "yt_button">go</button> 

<div class = "frame">
    <div class = "tooltip"></div>
</div> 

<p> <a href="http://bl.ocks.org/mbostock/1346395">mbostock reference</a>  
enter in a YouTube account or playlist to get a 
breakdown of which videos are driving views and likes</p> 

<ul>
	<li> YouTube Data API v3
	<li> .gitignore developer keys
	<li> jquery forms 
	<li> svg arcs and paths
</ul> 

<script>

//create chart variables
var width = 900; 
var height = 400; 
var radius = Math.min(width,height)/2;
var color = d3.scale.category20();                

//build svg canvas
var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.Workers; });

var svg = d3.select(".frame").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

d3.json("{{ url_for('static', filename='countries.json') }}", function(error, data) {

  var g = svg.selectAll(".arc")
      .data(pie(data.Countries))
    .enter().append("g")
      .attr("class", "arc");

  g.append("path")
      .attr("d", arc)
      .style("fill", function(d,i) { return color(i); });
});

//identify channel and url
$("#yt_button").click(function() {
	var yt_channel = $("#yt_channelid").val();

	svg.append("text")
		.attr("x", width/4)
		.attr("y", height/4)
		.text("one two three " + yt_channel );

}); 

</script>

{% endblock %}