{% extends "baselayout.html" %}
{% block body %}

<title>Pies, Donuts, TV</title> 
<h1>d3 Sandbox</h1>

<h2 style="font-size:30px;"><b>  UNDER DEVELOPMENT. NOTHING WORKS YET.</b></h2>
<br>

<h2> Pie Charts and TV Screens </h2>


<p>enter in a YouTube account or playlist to get a 
breakdown of which videos are driving views and likes</p>

<form>
	<textarea id="yt_channelid" placeholder = "thewockeez"></textarea>
</form> 

<button id= "yt_button">go</button> 

<div id="ARGH"></div>

<div class = "frame">
    <div class = "tooltip"></div>
</div> 

<p> <a href="http://bl.ocks.org/mbostock/1346395">mbostock reference</a>  </p> 

<ul>
	<li> YouTube Data API v3
	<li> .gitignore developer keys
	<li> jquery forms 
	<li> svg arcs and paths
  <li> ?pull in list of lists -> generate one per playlist
  <li> ?dynamic page to accomodate any # of playlists
  <li> ?for each playlist break out videos by views
  <li> ?break out videos by likes
  <li> ?hover over tooltips
  <li> ?click to see video
  <li> ?error checking for invalid channel
</ul> 

<script>

// what the hell am i doing here. API key
$.get("{{ url_for('static', filename='yt_v3.txt') }}", function(error, data){
}, 'text');

$('#ARGH').load("{{ url_for('static', filename='yt_v3.txt') }}");

/* step 0 have a channel username eg lizzie bennet diaries*/

/* step 1 - channel id*/ 

var channel_gen_url = 'https://www.googleapis.com/youtube/v3/channels?part=snippet%2CcontentDetails%2Cstatistics&forUsername=' + yt_channel + '&key=' + API_key; 

var channel_id = "UCXfbQAimgtbk4RAUHtIAUww"

/* 2 - list of playlists */ 

var loplaylists = "https://www.googleapis.com/youtube/v3/playlists?part=id%2Csnippet&channelId="+ channel_id + "&maxResults=50&key=" + API_key

/*for each playlist ,get the playlist_id*/
var playlist_id = "UUXfbQAimgtbk4RAUHtIAUww"

/* 3 - list of videos per */ 
var playlis_url = "https://www.googleapis.com/youtube/v3/playlistItems?part=id%2Csnippet%2CcontentDetails%2Cstatus&playlistId=" + playlistid + "&key=" API_key




//create chart variables
var width = 900; 
var height = 400; 
var radius = Math.min(width,height)/2;
var color = d3.scale.category20();                

// defines arc
var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

// is actually a function applied to the data
var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.Workers; });

//defines svg
var svg = d3.select(".frame").append("svg")
    .attr("width", width)
    .attr("height", height)
    //what is this grouping together? 
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

d3.json("{{ url_for('static', filename='countries.json') }}", function(error, data) {
  var g = svg.selectAll(".arc")
  	//applies pie layout on data to calc angles
      .data(pie(data.Countries))
    .enter().append("g")
      .attr("class", "arc");

  //confused. 
  g.append("path")
      .attr("d", arc)
      .style("fill", function(d,i) { return color(i); });
});

//identify channel and url
$("#yt_button").click(function() {
	var yt_channel = $("#yt_channelid").val();

	svg.append("text")
		.attr("x", width/4)
		.attr("y", height/4)
		.text("one two three " + yt_channel );

}); 

</script>

{% endblock %}