{% extends "baselayout.html" %}
{% block body %}

<title>Pies and TV</title> 
<h1>d3 Sandbox</h1>

<h2> Pie Charts and TV Screens </h2>

<p>enter in a YouTube account to get a visual representation of their videos' relative impact on views per playlist. </p>

<form>
	<textarea id="yt_channelid" placeholder = "thewockeez"></textarea>
</form> 

<button id= "yt_button">Hit It</button> 

<div class = "frame">
    <div class = "tooltip"></div>
</div> 

<p> <a href="http://bl.ocks.org/mbostock/1346395">mbostock reference</a>  </p> 

<ul>
	<li> YouTube Data API v3
	<li> jquery forms 
	<li> svg arcs and paths
  <li> pull in list of lists -> generate one per playlist
  <li> dynamic page to accomodate any # of playlists
  <li> for each playlist break out videos by views
  <li> get list of videos by likes,comments,favorites,views
  <li> multiple asynchronous calls
  <li> closures and callbacks 
</ul> 

<p> Way more than an exercise's worth of time on this. Next:</p>

<ul>
  <li> Read up on asynchronous calls and closures.
  <li> Why did 'thisi' work for the title hack?
  <li> Is pie() limited to only one value? Display data that's not bound to the pie chart (likes, comments, favs).
</ul>

<p style="font-size:10px"><a href="{{url_for('learnbydoing')}}"> <-- back to main project page</a></p>

<script>

//video object constructor
function video(vname,view,like,fav,comment) {
  this.vname = vname;
  this.views = view;
  this.like = like;
  this.fav = fav;
  this.comment = comment;
}


//create chart variables
var width = 900; 
var height = 450; 
var radius = Math.min(width,height)/4;
var color = d3.scale.category20();                

// defines arc
var arc = d3.svg.arc()
    .outerRadius(radius - 30)
    .innerRadius(0);

// is actually a function applied to the data
var pie = d3.layout.pie()
    .sort(d3.ascending)
    .value(function(d) { return d.views; }); //BORK BORK 

//identify channel and url
$("#yt_button").click(function() {

  var API_key = 'AIzaSyDQH6ODAQdQ1yaxRY2xTK8krBIElQQ6KoM';

  /* 0 have a channel username */
  var yt_channel = $("#yt_channelid").val();

  /* 1 from username, get channel id*/ 
  var channel_gen_url = 'https://www.googleapis.com/youtube/v3/channels?part=snippet%2Cstatistics&forUsername=' + yt_channel + '&key=' + API_key; 

  /*oh no, am i going to have to nest a bunch of asynchronous .getJSON calls? is that even best practice?*/
  $.getJSON(channel_gen_url)
    .done(function( channel_json ) {

      //console.log(channel_json.items[0]['id']);

      var channel_id = channel_json.items[0]['id']
      var loplaylists_url = "https://www.googleapis.com/youtube/v3/playlists?part=id%2Csnippet&channelId="+ channel_id + "&maxResults=50&key=" + API_key

      /* 2 get list of playlists and names*/ 
      $.getJSON(loplaylists_url)
        .done(function( loplaylists_json ){

          //console.log(loplaylists_json['items'][0]);

          //array of playlist ids for channel
          var loplaylists_array = [];
          //array of playlist names 
          var loplaylists_name = [];
          //would it be better to have an array of objects w/ name & id? 

          //can compress lines 95 to 110 into cleaner block of code

          for (var i=0; i< loplaylists_json['items'].length; i++) {
            loplaylists_array.push(loplaylists_json['items'][i]['id']);
            loplaylists_name.push(loplaylists_json['items'][i]['snippet']['title']);
          }
          console.log(loplaylists_array);
          console.log(loplaylists_name);

          /*3 - videos in playlists*/ 

          //array of API get requests. 1 per playlist_id
          var playlist_urls_array = [];
          for (var i=0; i< loplaylists_array.length; i++) {
            playlist_urls_array.push("https://www.googleapis.com/youtube/v3/playlistItems?part=id%2Csnippet%2Cstatus&playlistId=" + loplaylists_array[i] + "&maxResults=50&key=" + API_key);
          }
          //console.log(playlist_urls_array);
          
          for (var i=0; i< playlist_urls_array.length; i++) {
            $.getJSON(playlist_urls_array[i],
                (function( thisi ) {
                  return function( playlist_json ) {
                    handleplaylistdata(playlist_json['items'],loplaylists_name[thisi]);
                  };
                })(i))
          }
          //num asynch calls 1 + 1 + num_playlists + num_videos
          //num youtube api calls: 1 + 1 + num_playlists + num_videos
        }); 
    });

  function handleplaylistdata(playlist_json,playlist_name) {
      //console.log(playlist_json);
      //console.log(playlist_name);

      //goes through playlist, gets video ids
      var vid_id = [];
      for(var i=0; i<playlist_json.length; i++){
        vid_id.push(playlist_json[i]['snippet']['resourceId']['videoId']);
      };
     // console.log(vid_id);

      var vid_data = [];
      //yet another set of async requests! 
      for(var i=0; i<vid_id.length; i++){
        $.getJSON("https://www.googleapis.com/youtube/v3/videos?part=statistics%2Csnippet&id=" + vid_id[i] + "&key=" + API_key)
          .done(function( video_json ) {

              //weeeeell better practice would be to exclude private videos in the first place
              if(video_json['items'][0] != undefined){
                var name = video_json['items'][0]['snippet']['title'];
                var view = video_json['items'][0]['statistics']['viewCount'];
                var like = video_json['items'][0]['statistics']['likeCount'];
                var fav =  video_json['items'][0]['statistics']['favoriteCount'];
                var comment = video_json['items'][0]['statistics']['commentCount'];
                var vidObj = new video(name,view,like,fav,comment);
                vid_data.push(vidObj);
                //where is vid_data being scoped? getjson seems to be calling all vid urls in a sequence, but if i try to call vid_data outside of the function it's empty 
                if(vid_data.length == vid_id.length) {
                  //console.log(vid_data);
                  //ready for processing as a chart
                  var svg1 = d3.select(".frame").append("svg")
                    .attr("width", width/2)
                    .attr("height", height/2)
                    //what is this grouping together? 
                  .append("g")
                    .attr("transform", "translate(" + width / 4 + "," + height / 4 + ")");

                  var ctitle = svg1.selectAll("text")
                      .data(" ")
                      .enter().append("text")
                      .text(playlist_name) //from the callback!!!
                      //x and y relative to center aligned position w/in svg1
                      .attr("x", -90)
                      .attr("y", -90);

                  var g = svg1.selectAll(".arc")
                  .data(pie(vid_data))
                  .enter().append("g")
                    .attr("class","arc");

                  g.append("path")
                    .attr("d",arc)
                    .style("fill",function(d,i) {return color(i) });
                } 
              }
          }); 
      }

  };
  
  /*DILEMMA: how to have a function that waits until all the asynch calls are in and the data's loaded before kicking off */ 
  /*let's try asynch creating one piechart for each playlist. i have definitely overreached on exercise scope*/ 

}); 


</script>

{% endblock %}