{% extends "baselayout.html" %}
{% block body %}

<title>Data Science at Work</title>
<h1>Data Science at Work</h1>

<p>Slides for Data Science at Work. Versions of this talk have been given at:</p>
<ul>
    <li>De La Salle University. Oct 2014</li>
    <li>University of the Philippines Diliman. Sept 2014</li>
    <li>PythonPH Data Science Meetup. May 2014</li>
</ul>


<div class = "frame">
    <iframe src="https://docs.google.com/presentation/d/1zouusYgEkKR7ODqfAT57-6M2zYymJ43kIXl39w8BipE/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>

<p style="font-size:10px"><a href="{{url_for('homepage')}}"> <-- back to home page</a></p>

<script>
// javascript!
</script>


{% endblock %}
