{% extends "baselayout.html" %}
{% block body %}

<title>Python Philippines</title> 
<h1>The Data Science Toolkit</h1>

<p>Slides for <a href="www.meetup.com/pythonph/events/181641272/">Python Meetup May 2014</a>: Data Science.</p>

	
<div class = "frame">
	<iframe src="https://docs.google.com/presentation/d/1MLeyB3xW5WwssaxQhMnqlM6CmUN2tsFCxXFloHYJ2ME/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div> 

<p style="font-size:10px"><a href="{{url_for('homepage')}}"> <-- back to home page</a></p>

<script>
// javascript!
</script>


{% endblock %}