{% extends "baselayout.html" %}
{% block body %}

<title>UP ACM NIPS Pragmatic Data Science</title>
<h1>Pragmatic Data Science</h1>

<p>Slides for Pragmatic Data Science. UP Diliman. Sept 2014.</p>


<div class = "frame">
    <iframe src="https://docs.google.com/presentation/d/1Qs9V2RlEVLBC6WBoWUE9ZhsS6udw4Ge5xgsO1qBv4vQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>

<p style="font-size:10px"><a href="{{url_for('homepage')}}"> <-- back to home page</a></p>

<script>
// javascript!
</script>


{% endblock %}
