{% extends "baselayout.html" %}
{% block body %}

<title>title</title> 
<h1>d3 Sandbox</h1>

<h2> Ease of Doing Business PH </h2>

<p> data from the <a href="http://www.doingbusiness.org/Rankings/philippines/">World Bank</a>. Inspired by National Competitiveness Council roundtable <a href="http://www.rappler.com/business/28113-philippines-aims-to-jump-29-notches-in-ease-of-doing-business">on Rappler</a>.</p>
	
<button>Update</button> 

<div class = "frame">
    <div class = "tooltip"></div>
</div> 

<ul>
    <li> blah
    <li> blah
    <li> blah
</ul> 

<script>
//commas for different vars, defining margin as an obj allows for . access
var margin = {top: 20, right:20, bottom: 30, left: 50},
	width = 960 - margin.left - margin.right, 
	height = 500 - margin.top - margin.bottom;
var color = d3.scale.category20();

</script>


{% endblock %}