{% extends "baselayout.html" %}
{% block body %}

<title>Hexagonal Bins</title>
<h1>Hexagonal Bins</h1>

<h2> </h2>

<p>Using d3.hexbin to plot out different distributions. Useful for maps.
<a href="http://bl.ocks.org/mbostock/4248145">mbostock reference</a>. </p>

<div class = "frame"><b>Normal</b></div>
<div class = "frame2"><b>Uniform</b> </div>

<ul>
    <li> <a href="http://d3js.org/d3.hexbin.v0.min.js?5c6e4f0">d3.hexbin</a> is a plugin that needs to be loaded separately
    <li> hexagon shape via clip path -- restricts the region to which paint can be applied
    <li> data in shape 1 follows normal distribution, shape 2 random numbers, uniform distribution </li>
    <li> <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element/clipPath">conceptually</a> equivalent to a custom viewport for the referencing element
</ul>

<p style="font-size:10px"><a href="{{url_for('learnbydoing')}}"> <-- back to main project page</a></p>

<style>
    .hexagon2 {
        fill: none;
        stroke: #000;
        stroke-width: 0.25px;
    }

    .hexagon {
        fill: none;
    }

</style>

<script type='text/javascript' src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
<script src="http://d3js.org/d3.hexbin.v0.min.js?5c6e4f0"></script>
<script>
    var margin = {top: 20, right:20, bottom:30, left:40},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var binradius = 10;

    //1000 normally distributed points in an array
    var randomX = d3.random.normal(width/2, 90), //mean width/2px, sd 90px
        randomY = d3.random.normal(height/2, 90),
        normalPoints = d3.range(3000).map(function() {return [randomX(), randomY()]; });

    console.log(normalPoints);

    function getRandom(min,max) {
        return Math.random() * (max-min) + min;
    }

    var randomPoints = d3.range(3000).map(function() {return [getRandom(0,width), getRandom(0,height)]; });

    //var color = d3.scale.category20();
    //what does interpolate do? you can linearly scale colors?
    var color1 = d3.scale.linear()
        .domain([0,25])
        .range(["white","midnightblue"])
        .interpolate(d3.interpolateLab);

    var color2 = d3.scale.linear()
        .domain([0,30])
        .range(["white","coral"])
        .interpolate(d3.interpolateLab);

    var hexbin = d3.hexbin()
        .size([width,height])
        .radius(binradius);

    var svg = d3.select(".frame").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
        .append("g")
            .attr("transform", "translate(" + margin.left +"," + margin.top + ")");

    //clip path on top of entire svg
    svg.append("clipPath")
        .attr("id", "clip")
      .append("rect")
        .attr("class", "mesh")
        .attr("width", width)
        .attr("height", height);

    //every hexagon is a path, reference clip path via attr
    svg.append("g")
        .attr("clip-path", "url(#clip)")
      .selectAll(".hexagon")
        .data(hexbin(normalPoints))
      .enter().append("path")
        .attr("class", "hexagon")
        .attr("d", hexbin.hexagon())
        .attr("transform", function(d) {return "translate(" + d.x + "," + d.y + ")"; })
        .style("fill", function(d) {return color1(d.length); });

    var svg2 = d3.select(".frame2").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
        .append("g")
            .attr("transform", "translate(" + margin.left +"," + margin.top + ")");

    //clip path on top of entire svg
    svg2.append("clipPath")
        .attr("id", "clip2")
      .append("rect")
        .attr("class", "mesh")
        .attr("width", width)
        .attr("height", height);

    //every hexagon is a path, reference clip path via attr
    svg2.append("g")
        .attr("clip-path", "url(#clip2)")
      .selectAll(".hexagon2")
        .data(hexbin(randomPoints))
      .enter().append("path")
        .attr("class", "hexagon2")
        .attr("d", hexbin.hexagon())
        .attr("transform", function(d) {return "translate(" + d.x + "," + d.y + ")"; })
        .style("fill", function(d) {return color2(d.length); });


</script>


{% endblock %}
