<!doctype html>
<meta charset="utf-8">
<!-- base layout class that other html layouts will inherit from -->

<head>
	<meta name="description" content="Stephanie Sy. Building data tools and companies in Manila, Philippines."/>
	<link href="{{ url_for('static', filename='css/font-awesome.css')  }}" rel="stylesheet">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic|PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/stylesheet.css') }}">
	<script type='text/javascript' src="{{ url_for('static', filename='js/custom.js') }}"></script>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-44808435-1', 'stefsy.com');
	ga('send', 'pageview');

	</script>
</head>

<div class="page">
	<title>Stephanie Sy</title>

	<h1>stef sy</h1>
		<p>data and code. living between San Francisco, USA and Manila, Philippines.</p>
		<p>built data tools at <a href="http://www.thinkwithgoogle.com/">Google</a> and <a href="http://www.wildfireapp.com/">Wildfire Interactive</a>. Stanford 2011.</p>
        <p>I <a href="http://www.twitter.com/stefsy">tweet</a>, and <a href="http://blog.stefsy.com">blog</a> about exciting tech! I'm a pretty active organizer in the <a href="http://www.meetup.com/pythonph/">Python Philippines</a>, and <a href="http://www.facebook.com/groups/pyladiesmanila/">PyLadies Manila</a> communties. So many amazing people in these groups. Say hi if you ever come to one of our events!</p> 
        
	<div id = "talks">
		<h2>talks</h2>
		<ul>
			<li>Python for the Curious. Google Women Techmakers 2015
			<li><a href = "{{ url_for('ds_at_work') }} "> Data Science at Work.</a>
			<li><a href = "{{ url_for('intermediate_python') }} ">Intermediate Python Operations Workshop.</a> August 2014
			<li><a href = "{{ url_for('pandas_devcon') }} ">Pandas Data Wrangling Workshop.</a> July 2014
			<li><a href = "{{ url_for('pyconph2014') }}">PyCon Philippines 2014: Practical Data Gathering (for beginners).</a> Feb 2014
		</ul>
	</div>

	<div id = "proj" >
		<h2>projects</h2>
		<div class= "expand">
			<ul>
			<li><a href = "{{ url_for('learnbydoing') }}">Learn by Doing: Weekend Projects and Programming Experiments</a>
			<li><a href = "http://www.google.com/think/research-studies/how-superbrands-breed-superfans.html"> How Superbrands Breed Superfans.</a> Google. Aug 2012.
			<li><a href = "http://go.wf-social.com/TimelinesEffect.html"> Optimizing Content for the New Timeline Format.</a> Wildfire. Feb 2012.
			</ul>
		</div>
	</div>

	<div id="contact">
		<h2>let's chat</h3>
		<p style="margin-left:3em;">I consult on data science projects and love coffee. Reach me at stef @ stefsy.com </p>
	</div>


<div class= "icon-bar">
	<a href="http://www.twitter.com/stefsy"><i class="fa fa-twitter fa-3x"></i></a>
	<a href="http://www.github.com/stefsy"><i class="fa fa-github fa-3x"></i></a>
</div>

</div>
