{% extends "baselayout.html" %}
{% block body %}

<title>Learn by Doing</title>
<h1>Learn by Doing</h1>

<p>Creating one new thing every week, and commiting it publicly to <a href="http://www.github.com/stefsy">Github</a> to keep myself honest. Make, make, make.</p>

<p>Not the place for perfectionism. Inspired by Jennifer Dewalt's <a href= "http://www.jenniferdewalt.com">180 Days of Code</a>, my exercise nut friends, and some interesting research on learning strategies. </p>

<ul>
	<li><a href="{{ url_for('spider') }}">18: Polar Spider</a> <i>highcharts</i>
	<li><a href="{{ url_for('hc_heatmap') }}">17: Heatmaps and Scaling</a> <i>highcharts</i>
	<li><a href="{{ url_for('highcharts') }}">16: Highcharts in Action</a> <i>highcharts</i>
	<li><a href="{{ url_for('map008') }}">15: Transparent Rotating Globes</a> <i>d3</i> <i>topojson</i></li>
	<li><a href="{{	url_for('map007') }}">14: Mercator World Map </a><i>d3</i> <i>topojson</i></li>
	<li><a href=" {{ url_for('timemachine') }}"> 13: Git Retro</a> <i>d3</i> <i>jQuery</i>
	<li><a href=" {{ url_for('mm_sketch') }}"> 12: Multi-state Scatterplot </a> <i>d3</i>
	<!-- <li><a href=" {{ url_for('zoomtree') }}"> Ex 12: Zoomable Tree Map </a></li> -->
	<li><a href=" {{ url_for('hexbins')  }}"> 10: Hexagonal Bins </a> <i>d3</i>
	<li><a href=" {{ url_for('ferns')}}"> 9: Clustered Tree, Dendrogram </a> <i>d3</i>
	<li><a href = "{{ url_for('patrolph') }}"> 8: Prototype #ReliefPatrolPH Map </a> <i>webapps</i>
	<li><a href = "blog.stefsy.com"> 7: Running Ghost</a> <i>webapps</i>
	<!-- <li><a href = "{{ url_for('easeph') }}"> Ex 7: Ease of Doing Business Philippines </a> -->
	<li><a href = "{{ url_for('linechart') }}"> 6: Multi-Line Chart </a> <i>d3</i>
	<li><a href = "{{ url_for('donuts') }}"> 5: YouTube Playlist Views </a> <i>d3</i>
	<li><a href = "{{ url_for('channelstats') }}"> 4: YouTube Channel Stats </a> <i>d3</i>
	<li><a href = "{{ url_for('sort_bars') }}"> 3: Sorting Bar Charts</a>  <i>d3</i>
	<li><a href = "{{ url_for('nodes') }}"> 2: Fun with Nodes </a> <i>d3</i>
	<li><a href = "{{ url_for('rects') }}"> 1: Fun with Rectangles </a>  <i>d3</i>
	<li>0: Creating and deploying a Flask application <i>flask</i></a>
</ul>


{% endblock %}
