{% extends "baselayout.html" %}
{% block body %}

<title>PyCon Philippines</title> 
<h1>Practical Data Gathering with Python</h1>
<h2> (for beginners) </h2>

<p>Slides and notes for <a href="http://pycon.python.ph/">PyCon Philippines 2014</a> talk at De La Salle University.</p>

<p>IPython notebook code sample is located <a href="http://nbviewer.ipython.org/gist/stefsy/9110949">here</a>.</p>
	
<div class = "frame">
   	<iframe src="https://docs.google.com/presentation/d/1QnAV-wStJaQJkjTGAX9vImlfm2pXoIZi2U8KCiaCbHY/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div> 

<div class = "frame">
	<iframe src="https://docs.google.com/presentation/d/1MLeyB3xW5WwssaxQhMnqlM6CmUN2tsFCxXFloHYJ2ME/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div> 


<p style="font-size:10px"><a href="{{url_for('homepage')}}"> <-- back to home page</a></p>

<script>
// javascript!
</script>


{% endblock %}