{% extends "baselayout.html" %}
{% block body %}

<style>

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.rect {
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

</style>

<title>Workers</title>
<h1>d3 Sandbox</h1>

<h2>Laborers per Country 2011: a sortable bar chart</h2>

<button> Sort from least to most workers </button>

<div class = "frame">
    <div class = "tooltip"></div>
</div> 

<p><a href = "http://bl.ocks.org/mbostock/3885705"> mbostock</a>  as a starting point. <br> 
     labor figures from the <a href = "http://data.worldbank.org/indicator/SL.TLF.TOTL.IN">  World Bank's excellent indicator API. </a> </p>

<p> surprisingly tough to work with labeling axes. the data manipulation was much easier than the visual display. practice more with axes, and with g. </p>

<ul>
	<li>?dynamically labeling axes
	<li>?ordinal scaling the x attribute
	<li>scaling numbers to fit graph 
	<li>creating visible axes 
	<li>resorting arrays 
	<li>grouping elements together with 'g' 
	<li>better tooltips	
</ul>

<script>

/*setting up svg*/
var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;               

var svg = d3.select(".frame").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

/*frame formatting*/
var color = d3.scale.category20(); 

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1, 1);

var y = d3.scale.linear()
	.domain([0,160])
    .range([0,height]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.format("f"));

/*g is a grouping mechanism for svg*/    
svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

d3.json("{{ url_for('static', filename='countries.json') }}", function(data) { 

/*data initial entry*/
	svg.selectAll(".rect")
		.data(data.Countries)
	.enter().append("rect")
		.attr("class", "rect")
		.attr("x", function(d,i) {return i*55; })
		.attr("width", "50px")
		.attr("y", function(d) {return height - y(d.Workers); })
		.attr("height", function(d) {return y(d.Workers); })
		.style("fill", function(d) { return color(d.Zone); } );

/*tooltip hover*/
	var tooltips = svg.selectAll(".rect")    
     .on("mouseover", function(d,i) {
         d3.select(".tooltip")
             .style("left", i*55 +"px")
             .style("top", height/2 + "px")
             .html(d.Country + " <br>" + d.Workers +"m <br>" + d.Zone)
             .style("display","inline");
     })      
     .on("mouseout", function(d,i){
         d3.select(".tooltip")
             .style("display","none");
     });

/*Click!*/ 
      d3.select("button").on("click", function() {

      	/*best practice use a staggered delay*/
      	var delay = function(d, i) { return i * 50; };

      	var sortData = data.Countries.sort(function(a,b) {
      		return a.Workers - b.Workers;
      	}); 

      	/*this solution rebinds a new set of data to the rects
      	and then changes the height of each rect in place*/ 

      	d3.selectAll(".rect")
      		.data(sortData)
      		/* why does it work if i don't call update() */ 
      		.transition()
      		.attr("y", function(d) {return height - y(d.Workers); })
			.attr("height", function(d) {return y(d.Workers); })
			.style("fill", function(d) { return color(d.Zone); } )
			.duration(delay);

  	});

});



</script>

{% endblock %}