{% extends "baselayout.html" %}
{% block body %}

<title>Workers</title>
<h1>d3 Sandbox</h1>
<p> sortable bar chart</p>
<p><a href = "http://bl.ocks.org/mbostock/3885705"> mbostock</a>  as a starting point.
    Labor figures from the <a href = "http://data.worldbank.org/indicator/SL.TLF.TOTL.IN">  World Bank's excellent indicator API. </a> </p>

<div class = "frame">
    <div class = "tooltip"></div>
</div> 
    

<script src="http://d3js.org/d3.v3.js"></script>
<script>


   

</script>

{% endblock %}